<div class="banner banner-post d-flex flex-column justify-content-center" style='background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url("<%= asset_path('banner-rails-posts.jpg') %>"); text-align: center;'>
  <div class="container">
    <h1>Discover some contents from the web</strong>!</h1>
    <p>Share your latest findings</p>
    <%= link_to 'All posts', posts_path, class: "btn btn-ghost"%>
  </div>
</div>
