<h1>All posts</h1>

<div class="d-flex flex-column">
  <% @posts.each do |post|%>
    <%= link_to post_path(post) do %>
      <div class="card-product my-2 mx-4">
        <div class="post-card-index card-product-infos">
          <h2><%= post.title.capitalize %></h2>
          <p><%= post.content.capitalize %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
